body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    font-weight: 2000;
    color: rgba(0, 0, 0, 0.719);
}
h2{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.705);
    
}
.kalpo{
    color: rgba(255, 230, 6, 0.808);
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    font-weight: 500;
    font-family: cursive;
    color: rgb(46, 45, 45);
}
.half-width{
    width: 40%;
     float: left;
     padding-left: 2%;
     margin-left: 5%;

}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background-image: linear-gradient(blue, skyblue);
    padding: 10px 20px;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(226, 55, 84), rgb(248, 149, 165) );
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: orange;
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
    text-align: justify;

}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    text-align: justify;
}
.one-third img{ 
    width: 100%;
}
.one-third{
    float: left;
    width: 25%;
    margin-left: 4%;
    padding-left: 2%;
    height: 100%;
    
    text-align: justify;
    background-color: whitesmoke);
}
.work-area{
    text-align: center;
    }
.box-design{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 100%;
    border-radius: 20px;
}
.para{
    padding-right: 20px;
}
.latest{
    color: tomato;
}
.linepic img{
    width: 60%;
}
.linepic{
    text-align: center;
}
container{
    position: relative;
}
.bottom-left {
    position: absolute;
    bottom: 50px;
    left: 450px;
  }
.inquiry{
      color: rgb(253, 253, 253);
      font-family: sans-serif;
  }
.bottom-right {
    position: absolute;
    bottom: 100px;
    right: 450px;
}
.chat{
    text-decoration: none;
    color: white;
    font-weight: 40px;
    font-size: 20px;
    border-radius: 7px;
    height: 70%;
    padding: 30px 40px;
    font-family: sans-serif;
    background-image: linear-gradient(45deg, rgb(226, 55, 84), rgb(248, 149, 165) );
}